<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>`
    <form action="/add" method="POST">
        <h1>Password Manager</h1>
        <h1>Add New Password</h1>
        <div>
            <label for="addTitle">Website</label>
            <input type="text" id="addTitle" name="website">
        </div>
        <div>
            <label for="addEmail">Email</label>
            <input type="text" id="addEmail" name="email">
        </div>
        <div>
            <label for="addPassword">Password</label>
            <input type="text" id="addPassword" name="password">
        </div>
        <button type="submit">Add</button>
    </form>

    <h1>Stored Password</h1>
    <ul>
        {% for entry in entries %}
        <li data-id={{entry.id}} data-website={{entry.website}} data-email={{entry.email}} data-password={{entry.password}}>
            {{entry.id}} | {{ entry.website}} | {{ entry.email}} | {{entry.password}}
            <button class="update-btn">Update</button>
            <button class="delete-btn">Delete</button>
        </li>
        {% endfor %}
    </ul>

    <h1>Update Information</h1>
    <div>
        <label for="updateWebsite">Website</label>
        <input type="text" id="updateWebsite" name="website">
    </div>
    <div>
        <label for="updateEmail">Email</label>
        <input type="text" id="updateEmail" name="email">
    </div>
    <div>
        <label for="updatePassword">Password</label>
        <input type="text" id="updatePassword" name="password">
    </div>
    <button type="submit" id="updateEntryBtn">Update</button>


    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
</body>
</html>